#container{
    
}

p { 
    border:black 2px solid; 
  }

#header{
    height:70px;
    width:100%;
    line-height: 70px;
    background-color:rgb(68, 97, 177);
    border:2px black;
}

#logo{
    height:100%; 
    width:30%;
    text-align: center;
    line-height: 70px;
    float:left;
    background-color:rgb(68, 81, 116);
}

#aside{
    height:500px;
    width:30%;
    float:left;
    text-align: center;
    background-color:rgb(235, 164, 223);
}

#nav{
    height:470px;
    width:90%;
    margin-left: 5%;
    text-align: center;
    background-color:rgb(223, 223, 138);
}

#article{
    height:500px;
    width:70%;
    float:right;
    background-color:rgb(68, 177, 159);
}

#section{
    height:460px;
    width:90%;
    margin-left: 5%;
    background-color: rgb(118, 214, 118);
}

#display{
    height:270px;
    width:60%;
    margin-left:20%;
    background-color:rgba(255, 255, 255, 0.856);
    text-align:center;
    line-height:270px;
}

#picContainer{
    height:130px;
    width:80%;
    margin-top:10px;
    margin-left:10%;
    background-color:rgba(255, 255, 255, 0.856);
}

#small_pic1{
    height:95px;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    line-height:100px;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.233);
}

#small_pic2{
    height:95px;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    line-height:100px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.233);
}

#small_pic3{
    height:95px;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    line-height:100px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.233);
}

#small_pic4{
    height:95px;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    line-height:100px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.233);
}

#small_pic5{
    height:95px;
    width:120px;
    margin-left:10px;
    margin-top:10px;
    float:left;
    line-height:100px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.233);
} 

.clearfix{
    clear:both;
}

#footer{
    height:30px;
    width:100%;
    background-color:gray;
}